:root {
  --jRed:    #FF2828; /* rgb(255, 040,  40) */
  --jOrange: #FF7828; /* rgb(255, 120,  40) */
  --jYellow: #FFDC28; /* rgb(255, 220,  40) */
  --jGreen:  #28C828; /* rgb( 40, 200,  40) */
  --jBlue:   #2828FF; /* rgb( 40,  40, 255) */
  --jPurple: #7828FF; /* rgb(120,  40, 255) */
  --jPink:   #FF28C8; /* rgb(255,  40, 200) */
  --jGrey:   #282828; /* rgb( 40,  40,  40) */
  --jBlack:  #141414; /* rgb( 20,  20,  20) */
}





h1 {
  font-family: DIN Alternate, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  letter-spacing: 8px;
}

h2 {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  letter-spacing: 2px;
  color: rgb(00, 00, 00);
}
h3, h3.a {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  letter-spacing: 3px;
  color: rgb(00, 00, 00);
}
h4 {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  letter-spacing: 0px;
  color: rgb(00, 00, 00);
}

h1, h2, h3, h3.a, h4 {
  font-family: SFMono-Regular, ui-monospace, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

h1, h3 {
  font-size: 150%;
}

p { 
  font-size: 110%;  
}

.prose :where(a):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-decoration-color: white;
}
.prose :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)):hover {
  text-decoration: underline;
  background-color: rgba(0, 0, 255, 0);
}

.hover\:text-primary-500:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.hover\:decoration-primary-400:hover {
  text-decoration-color: #FFFFFF;
}

.text-neutral-500, .text-neutral-800 { 
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  letter-spacing: 0px;
  color: #ffffff;
}


@media (prefers-color-scheme: dark) {
  .dark\:bg-neutral-800 {
    background-color: #000000;
  }
}

.prose .chroma, body  {
 background-color: var(--jRed);
}

p, h1, *, a, .title {
  color: #ffffff;
}

p, h2, h3, h4, h5, .prose {
  color: rgba(255, 255, 255, .75)
}
a, .prose:a {
  text-decoration: underline;
  font-weight: strong;
  color: #FFFFFF;
}
